* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hero {
  width: 100%;
  background: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 30px 0 30px;
}

.hero .hero-text {
  padding-top: 150px;
  padding-bottom: 200px;
}

.hero .hero-text h1 {
  font-size: 40px;
  color: white;
  border: 1px solid #fff;
  padding: 22px;
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo {
  width: 50%;
}

.best-service {
  width: 100%;
}

.best-service .container {
  text-align: center;
  padding: 100px 30px 100px 30px;
}

.best-service .container img {
  width: 100%;
}

.best-service .container .service-text .service-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 300px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #8c8c8c;
}

.best-service .container .service-text .service-info {
  padding: 0 26px;
}

.cration {
  width: 100%;
  background: #fff;
}

.creation-text {
  text-align: center;
}

.creation-text .creation-heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 50px;
  color: dimgray;
}

.gallery-item {
  margin-bottom: 30px;
  position: relative;
}

.gallery-item img {
  width: 100%;
}

.gallery-item h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  z-index: 1;
  font-size: 25px;
  position: absolute;
  top: 52%;
  left: 6%;
  width: 41%;
  color: white;
}

.btn {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.btn a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #8c8c8c;
  border: 1px solid #8c8c8c;
  padding: 15px 50px;
  font-size: 20px;
  letter-spacing: 8px;
}

.footer {
  background: black;
}

.footer .container {
  padding: 60px 30px 0 30px;
  text-align: center;
}

.footer .container .logo {
  width: 50%;
  margin-bottom: 50px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list a {
  color: white;
  padding: 15px 0;
  font-size: 20px;
}

.footer-list a:last-of-type {
  margin-bottom: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social img {
  width: 12%;
  margin: 30px 12px;
}

.credit p {
  color: #8c8c8c;
  font-size: 16px;
  padding-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */